.search {
  align-items: center;
  background: var(--color-active);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  display: flex;
  gap: 8px;
  justify-content: space-between;
  height: 64px;
  position: relative;
  padding: 8px;
  transform: translateY(-32px);
  width: 100%;

  .input {
    align-items: center;
    background: var(--color-white);
    border: none;
    border-radius: var(--border-radius);
    color: var(--color-primary);
    display: flex;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    gap: 8px;
    justify-content: flex-start;
    height: 100%;
    padding: 4px 8px;
    width: 100%;

    svg {
      height: 20px;
      width: 20px;
    }

    input {
      border: none;
      color: var(--color-primary);
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-normal);
      height: 100%;
      outline: none;
      padding: 0;
      width: 100%;

      &::placeholder {
        color: var(--color-primary);
      }
    }

    span {
      cursor: default;
    }

    &.date {
      max-width: 272px;
      position: relative;

      .date-range {
        border: 1px solid var(--color-primary);
        border-radius: var(--border-radius);
        left: 0;
        overflow: auto;
        position: absolute;
        top: 64px;
        max-height: 364px;
        z-index: var(--z-index-header);

        input {
          height: 32px;
        }

        .rdrDateDisplayWrapper {
          background-color: var(--color-active);
        }

        .rdrNextPrevButton {
          background-color: var(--color-active);
        }

        .rdrStartEdge, .rdrEndEdge, .rdrInRange {
          background-color: var(--color-primary);
        }
      }
    }

    &.people {
      max-width: 268px;
    }
  }
}

@media (max-width: 1024px) {
  .search {
    border: none;
    border-radius: 0;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    transform: translateY(0);

    .input {
      height: 46px;
    }
  }
}

@media (max-width: 600px) {
  .search {
    padding: 24px 8px;

    .input {
      &.date, &.people {
        max-width: 100%;
      }

      &.date {
        .date-range {
          right: 0;
        }
      }
    }

    button {
      height: 54px !important;
      width: 100% !important;
    }
  }
}